.hello{
    background-color: white;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
h1{
  color: red;
}
h2{
  font-weight: 500;
  color: black;
}
  }
  .img_pokedex{
    
    width: 300px;
    height: auto;
    
  }
  .fondo_pie{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    padding: 50px 0;
    z-index: 1;
  }
  .fondo_nigga{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    padding: 25px 0;
    z-index: 3;
  }

  

  